<section id="signin">
    <p class="display-6 title">Please Sign In Here!</p>
    <article class="row">
        <div class="alert col-6 offset-3" role="alert" [ngClass]="getErrorClass()" *ngIf="message !== ''">
            {{message}}
        </div>
        <section class="col-6 offset-3">
            <form [formGroup]="signInForm" (submit)="signIn()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        formControlName="email">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary"
                    [disabled]="signInForm.invalid">Submit</button>
            </form>
        </section>
    </article>
</section>