<section id="signup">
    <p class="display-6 title"> Sign Up Yourself</p>
    <article class="row">
        <div class="alert col-6 offset-3" role="alert" [ngClass]="getErrorClass()" *ngIf="message !== ''">
            {{message | shorten:100}}
        </div>
        <section class="col-6 offset-3">
            <div class="row" *ngIf="isLoading">
                <app-spinner class="col-12  d-flex justify-content-center pb-3"></app-spinner>
                <label class="col-12  d-flex justify-content-center">Please Wait...</label>
            </div>
            <form [formGroup]="signupForm" (submit)="signUp()" *ngIf="!isLoading">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        formControlName="email">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-right: 10px;" [disabled]="signupForm.invalid">Submit</button>
                <button type="button" class="btn btn-primary" (click)="clear()" [disabled]="signupForm.invalid">Reset</button>
            </form>
        </section>
    </article>
</section>